<launch>
    <arg name="bag_file"/>
    <arg name="lidar_topic"/>
    <arg name="pcd_file"/>
    <arg name="is_custom_msg" default="false"/>

    <node name="bag_to_pcd" pkg="livox_camera_calib" type="bag_to_pcd" output="screen"/>

    <param name="bag_file" value="$(arg bag_file)"/>
    <param name="lidar_topic" value="$(arg lidar_topic)"/>
    <param name="pcd_file" value="$(arg pcd_file)"/>
    <param name="is_custom_msg" value="$(arg is_custom_msg)"/>
</launch>
