<launch>

  <param name="use_sim_time" value="false" />

  <include file="$(find det_data_handler)/launch/include/rs_camera.launch">
      <arg name="camera"                value="cam_0" />
      <arg name="serial_no"             value="938422075179" />
      <arg name="enable_pointcloud"     value="false" />
      <arg name="enable_depth"          value="true" />
      <arg name="enable_confidence"     value="false" />
      <arg name="color_fps"             value="30" />
      <arg name="enable_color"          value="true" />
      <arg name="node_start_delay"      value="0.0" />
  </include>

  <include file="$(find det_data_handler)/launch/include/rs_camera.launch">
      <arg name="camera"                value="cam_1" />
      <arg name="serial_no"             value="937622070073" />
      <arg name="enable_pointcloud"     value="false" />
      <arg name="enable_depth"          value="true" />
      <arg name="enable_confidence"     value="false" />
      <arg name="color_fps"             value="30" />
      <arg name="enable_color"          value="true" />
      <arg name="node_start_delay"      value="3.0" />
  </include>

  <!-- <node name="calibrate_stereo" pkg="det_data_handler" type="calibrate_stereo" output="screen" /> -->

  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args =
  "--perspective-file $(find det_data_handler)/config/rqt/stereo_calib_multi_cams.perspective"/>

</launch>
